@use 'mixins'

@mixin note
    @include mixins.flex-center
    .title
        @include mixins.title
        margin-bottom: 2rem

    .container
        justify-self: center
        margin: 10% 10%
        overflow: hidden
        overflow-y: scroll
        border-radius: 2rem
        height: 300px
    
    .notes
        position: relative
        width: 100vw
        font-size: 2.5rem
        padding: 2rem
        padding-right: 5rem
        color: #fff
        background: #666
        border-bottom: .5px solid #fff
        word-wrap: break-word
        word-break: break-all
        @include mixins.flex-center-space

        .delete-note
            position: absolute
            top: auto
            right: 10px
            cursor: pointer
            color: #ff0000aa
            font-size: 3rem
            z-index: 1

    .note
        @include mixins.flex-center
        margin-top: 3rem


        .box-note
            text-align: justify
            width: 100vw
            max-height: 6rem
            border-radius: 2rem
            padding: 1.5rem 3rem
            padding-right: 7rem
            font-size: 2rem
            position: absolute
            &:focus
                border: 1px solid #16cbeb
                
        .btn-note
            position: absolute
            font-size: 3rem
            background: none
            cursor: pointer
            right: 2rem
            

                
        
            