@use 'variables'
@mixin main
    background-color: variables.$bg-color-light

    //SECTION GENERAL
    section
        height: 100vh
        padding: 0 9% 9% 9%
        color: variables.$font-color-dark