@use 'variables'

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

@mixin flex-center-space
    display: flex
    justify-content: space-between
    align-items: center

@mixin title
    font-size: 2.5rem
    color: variables.$font-dark
    text-align: center
    padding-bottom: 2rem
    margin-top: 12.4vh

@mixin form 
    @include flex-center
    width: 35rem
    height: auto
    padding: 2rem 0
    font-size: 1.5rem
    border: .5rem outset variables.$color-primary
    border-radius: 3rem

@mixin label-form
    align-self: flex-start
    margin-left: 6.8rem
    margin-top: 1.5rem

@mixin input-form
    padding: 1rem 3rem
    margin: .5rem 0
    color: variables.$font-dark
    border: 1px solid #999
    border-radius: 2rem
    &:focus
        border: 2px solid variables.$color-primary

@mixin btn-form
    padding: 1rem 3rem
    margin-top: 1.5rem
    color: variables.$color-primary
    font-weight: bolder
    border-radius: 2rem
    cursor: pointer
    &:hover
        background: variables.$bg-light
        border: 1px solid variables.$color-primary
