@use 'variables'

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

@mixin flex-center-space
    display: flex
    justify-content: space-between
    align-items: center

@mixin title
    font-size: 2.5rem
    color: variables.$font-color-dark
    text-align: center
    padding-bottom: 2rem
    margin-top: 12.4vh

@mixin form 
    @include flex-center
    width: 35rem
    height: auto
    padding: 3rem 0
    font-size: 1.8rem
    border: .5rem outset variables.$color-primary
    border-radius: 3rem

@mixin label-form
    align-self: flex-start
    margin-left: 6rem
    margin-top: 2rem

@mixin input-form
    padding: 1rem 3rem
    margin: .8rem 0
    color: #333
    border: 1px solid #999
    border-radius: 2rem
    &:focus
        border: 2px solid variables.$color-primary

@mixin btn-form
    padding: 1.3rem 3rem
    margin-top: 1rem
    color: variables.$color-primary
    font-weight: bolder
    border: none
    border-radius: 2rem
    cursor: pointer
    &:hover
        background-color: #00000000
        border: 1px solid variables.$color-primary
