@mixin footer
    padding: 5rem 0
    p
        text-align: center
        font-size: 2rem
        color: #ffff

    .copyright
        margin-bottom: 2rem

    .credit
        color: #16cbeb
        &:hover
            color: #fff
