@use 'mixins'

@mixin note
    @include mixins.flex-center
    .title
        @include mixins.title
        margin-bottom: 2rem

    .container
        justify-self: center
        margin: 10% 10%
        overflow: hidden
        overflow-y: scroll
        border-radius: 2rem
        height: 300px
    
    .notes
        width: 100vw
        font-size: 1.5rem
        padding: .5rem 5rem
        color: #fff
        background: #666
        border-bottom: .5px solid #fff
        @include mixins.flex-center-space

        .delete-note
            cursor: pointer
            color: #ff0000aa
            font-size: 3rem

    .note
        @include mixins.flex-center
        margin-top: 3rem


        .box-note
            text-align: justify
            width: 100vw
            max-height: 6rem
            border-radius: 2rem
            padding: 1rem 3rem
            padding-right: 7rem
            font-size: 2rem
            position: absolute
            &:focus
                border: 1px solid #16cbeb
                
        .btn-note
            position: relative
            font-size: 3rem
            background: none
            @media ( min-width: 375px )
                left: 20rem
            @media ( min-width: 425px )
                left: 23rem
            @media ( min-width: 768px )
                left: 40rem
            @media ( min-width: 1024px )
                left: 45rem

                
        
            