<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--ICONS BOOTSTRAP-->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

   <!--CSS MAIN-->
   <!-- npm install -g sass -->
   <!-- sass --watch sass/styles.sass:css/styles.css  -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

   
   <title>
      {% block title%}
   
      {% endblock %}
   </title>
</head>

<body>

   <header class="header">

      <!-- LOGO -->
      <a class="header-brand" href="#">LOGO</a>

      <!-- MENU LIST -->
      <nav class="header-navbar">
         <ul>
            {% if user.is_authenticated %}
            <li class="link-menu"><a href="/">Home</a></li>
            <li class="link-menu"><a href="/note">Notas</a></li>
            <li class="link-menu"><a href="/logout">Logout</a></li>
            {% else %}
            <li class="link-menu"><a href="/login">Login</a></li>
            <li class="link-menu"><a href="/sign_up">Sign Up</a></li>
            {% endif %}
            <i class="bi bi-moon-fill dark-mode"></i>
         </ul>
      </nav>
      
   </header>

   <!-- NOTIFICATIONS -->
   <div class="notifications">
        <p>{{ message }}</p>
   </div>
   <!--////////////////////////////////////////-->

   {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
         {% for category, message in messages %}
            {% if category == 'error' %}
               <div class="error notification">
                  <p>{{ message }}</p>
                  <span class="close-notifications" onclick="remove()">&times;</span>
               </div>
            {% else %}
               <div class="success notification">
                  <p>{{ message }}</p>
                  <span class="close-notifications" onclick="remove()">&times;</span>
               </div>
            {% endif %}       
         {% endfor %}
      {% endif %}
   {% endwith %}

   <main class="main">
      {% block content %}

      {% endblock %}
   </main>

   <footer class="footer">
      <p class="copyright">&copy; 2023 logo | todos os direitos reservados </p>
      <p>created by <span><a class="credit" href="https://www.linkedin.com/in/kelverabelo/" target="_blank">kelveRabelo</a></span></p>
   </footer>

   <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>