{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}


{% block main %}
<section class="main-home">
    <h2 class="title">Welcome, {{ user.first_name }}</h2>
    <a href="/logout">Logout</a>
</section>
{% endblock %}

{% block footer %}
<footer class="footer">
    <p class="copyright">&copy; 2023 KreateNote | All Rights Reserved </p>
    <p>Created by <span><a class="credit" href="https://www.linkedin.com/in/kelverabelo/" target="_blank">KelveRabelo</a></span></p>
 </footer>
{% endblock %}